@import url("frame.css");

#header{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#header h1{
    font-size: 10dvh;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%,-50%);
    z-index: 1000;
    white-space: nowrap;
}

#header img{
    width: 100%;
    height: 100%;
    opacity: 45%;
}

#header p{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
    z-index: 1000;
}

#MediumBlock{
    width: 90dvw;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2vh;
}

#MediumBlock h1{
    font-size: 7vw;
    text-align: center;
}

#MediumBlock p{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6vw;
    text-align: center;
}

a {
    text-decoration: none;
    color: aquamarine;
}

br {
    height: 4vh;
}

img {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

span{
    display: flex;
    justify-content: center;
}

#qoute{
    position: relative;
}

.ContactUs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.ContactUs a{
    color: white;
}